<tr>
  <td>{{title}}</td>
  <td class="{{state.color}}">{{state.name}}</td>
  <td>{{user.lastName}}, {{user.firstName}}</td>
  <td>{{createdAt}}</td>
  <td>{{updatedAt}}</td>
  <td><a href="/tasks/all-tasks/{{_id}}">details</a></td>
</tr>
{{!-- class="clickable"
  onclick="window.location='http://localhost:4000/tasks/all-tasks/{{_id}}'" --}}