<tr>
  <td><a href="/tasks/all-tasks/{{_id}}">{{title}}</a></td>

  <td class="{{state.color}}"><a
      href="/tasks/all-tasks/{{_id}}"
    >{{state.name}}</a></td>
  <td><a
      href="/tasks/all-tasks/{{_id}}"
    >{{user.lastName}},{{user.firstName}}</a></td>
  <td><a href="/tasks/all-tasks/{{_id}}">{{updatedAt}}</a></td>
  {{!-- <td><a href="/tasks/all-tasks/{{_id}}">details</a></td> --}}
</tr>
{{!-- class="clickable"
  onclick="window.location='http://localhost:4000/tasks/all-tasks/{{_id}}'" --}}