<!-- Modal -->
<div
  class="modal fade"
  id="subtaskDetailsModal"
  tabindex="-1"
  aria-labelledby="subtaskModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <input type="checkbox" id="checkBtn" />
        <div id="invisible-toggle">
          <form action="/subtasks/edit/{{_id}}" method="post">
            <h4>Edit Subtask:</h4>
            <label for="title">Title: </label>
            <input name="title" id="title" type="text" value="{{title}}" />
            <label for="state">Status: </label>
            <select name="state" id="state">
              <option
                selected="selected"
                value="{{state._id}}"
              >{{state.name}}</option>
              {{#each task.otherStates}}
                <option value="{{id}}">{{name}}</option>
              {{/each}}
            </select>
            <label for="description">Description: </label>
            <textarea
              name="description"
              id="title"
              type="text"
            >{{description}}</textarea>
            <button type="submit" class="modal-button">Save</button>
            {{! <button
                type="button"
                class="modal-button"
                data-bs-dismiss="modal"
              >Close</button> }}
            <label
              data-bs-dismiss="modal"
              class="toggleLabel modal-button"
              for="checkBtn"
            >
              Close
            </label>

          </form>
        </div>
        <div id="visible-toggle">
          <div>
            <h3>Title: {{title}}</h3>
            <p class="{{state.color}}">Status: {{state.name}}</p>
            <p>Description: {{description}}</p>

          </div>
          <label class="toggleLabel modal-button" for="checkBtn">Edit</label>
          <button
            type="button"
            class="modal-button"
            data-bs-dismiss="modal"
          >Close</button>
        </div>
      </div>
    </div>
  </div>
</div>