<tr data-bs-toggle="modal" data-bs-target="#subtaskModal{{_id}}">
  <td>{{title}}</td>
  <td>{{estimatedTime}}</td>
  <td class="{{state.color}}">{{state.name}}</td>
</tr>

{{>subtaskModalPartial task}}