<!-- Modal -->
<div
  class="modal fade"
  id="subtaskEditModal{{_id}}"
  tabindex="-1"
  aria-labelledby="subtaskModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div>
          <form action="/subtasks/edit/{{_id}}" method="post">
            <h4>Edit Subtask:</h4>
            <p>Parent Task: {{task.title}}</p>
            <p>Subtask type: {{type}}</p>
            <p>Created by: {{user.lastName}}, {{user.firstName}}</p>
            <label for="title">Title: </label>
            <input name="title" id="title" type="text" value="{{title}}" />

            <label for="estimated-time">Estimated time: </label>
            <input
              type="number"
              name="estimatedTime"
              id="estimated-time"
              value="{{estimatedTime}}"
            />
            <label for="percent-complete">Percent complete: </label>
            <select name="percentComplete" id="percent-complete">
              <option
                value="{{percentComplete}}"
                selected="selected"
              >{{percentComplete}}</option>
              <option value="0">0</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40">40</option>
              <option value="50">50</option>
              <option value="60">60</option>
              <option value="70">70</option>
              <option value="80">80</option>
              <option value="90">90</option>
              <option value="100">100</option>
            </select>

            <label for="state">Status: </label>
            <select name="state" id="state">
              <option
                selected="selected"
                value="{{state._id}}"
              >{{state.name}}</option>
              {{#each otherStates}}
                <option value="{{id}}">{{name}}</option>
              {{/each}}
            </select>
            <label for="description">Description: </label>
            <textarea
              name="description"
              id="title"
              type="text"
            >{{description}}</textarea>
            <button type="submit" class="modal-button">Save</button>
            <label
              data-bs-dismiss="modal"
              class="toggleLabel modal-button"
              for="subtask-checkBtn"
            >
              Close
            </label>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>