<tr data-bs-toggle="modal" data-bs-target="#subtaskModal{{_id}}">
  <td>{{title}}</td>
  <td>{{estimatedTime}}</td>
  <td>{{percentComplete}}%</td>
  <td>{{timeRemaining}}</td>
  <td>{{type}}</td>
  <td class="{{state.color}}">{{state.name}}</td>
  <td>{{user.lastName}}, {{user.firstName}}</td>
  <td>{{createdAt}}</td>
  <td>{{updatedAt}}</td>
</tr>