<tr data-bs-toggle="modal" data-bs-target="#subtaskModal{{_id}}">
  <td><a>{{title}}</a></td>
  <td><a>{{estimatedTime}}</a></td>
  <td><a>{{percentComplete}}%</a></td>
  <td><a>{{timeRemaining}}</a></td>
  <td><a>{{type}}</a></td>
  <td class="{{state.color}}"><a>{{state.name}}</a></td>
  <td><a>{{user.lastName}}, {{user.firstName}}</a></td>
  <td><a>{{updatedAt}}</a></td>
</tr>