<!-- Modal -->
<div
  class="modal fade"
  id="subtaskModal{{_id}}"
  tabindex="-1"
  aria-labelledby="subtaskModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <div class="visible-content">
          <div>
            <h3>{{task.title}} > {{title}}</h3><hr />
            {{#if image}}
              <img src="{{image}}" alt="subtask" />
            {{/if}}
            <p>Created by: {{user.lastName}}, {{user.firstName}}</p>
            <p class="{{state.color}}">Status: {{state.name}}</p>
            <p>Subtask type: {{type}}</p>
            <p>Created: {{createdAt}}</p>
            <p>Updated: {{updatedAt}}</p>
            <p>Time Remaining: {{timeRemaining}}</p>
            <p>Estimated time: {{estimatedTime}}</p>
            <p>Percent complete: {{percentComplete}}%</p>
            <p>Description: {{description}}</p>
          </div><br /><br />
          <div class="buttons-container">
            <label
              class="toggleLabel modal-button"
              data-bs-toggle="modal"
              data-bs-target="#subtaskEditModal{{_id}}"
              data-bs-dismiss="modal"
            >Edit</label>
            <button
              type="button"
              class="modal-button"
              data-bs-dismiss="modal"
            >Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>