<!-- Modal -->
<div
  class="modal fade"
  id="taskModal{{id}}"
  tabindex="-1"
  aria-labelledby="taskModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <form action="/projects" method="POST">
        <div class="modal-header">
          {{!-- <h5 class="modal-title" id="taskModalLabel">{{title}}</h5> --}}
          <label for="taskModalLabel">Title: </label>
          <input
            type="text"
            class="modal-title"
            value="{{title}}"
            id="taskModalLabel"
          />
          {{! <div class="input-group input-group-lg">
          </div> }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Order: {{order}}</p>
          <p>Date created: {{dateCreated}}</p>
          <p>Assigned to: {{assignedTo}}</p>
          <hr />
          <label for="estimated-time">Estimated time: </label>
          <input
            id="estimated-time"
            type="number"
            name="estimatedTime"
            value="{{estimatedTime}}"
          />
          <br />
          <label for="description">Description: </label>
          <br /><br />
          <textarea
            id="description"
            type="text"
            name="description"
            rows="20"
            class="col-12"
          >{{description}}</textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Delete task</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >Close</button>
        </div>
      </form>
    </div>
  </div>
</div>