<!-- Modal -->
<div
  class="modal fade"
  id="taskDetailsModal"
  tabindex="-1"
  aria-labelledby="taskModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <input type="checkbox" id="task-checkBtn" />
        <div id="task-invisible-toggle">
          <form action="/tasks/edit/{{_id}}" method="post">
            <ul class="form-style-1">
              <li>
                <h4>Edit Task</h4>
              </li>
              <li>
                <label for="state">Status: </label>
                <select name="state" id="state">
                  <option
                    selected="selected"
                    value="{{state._id}}"
                  >{{state.name}}</option>
                  {{#each otherStates}}
                    <option value="{{_id}}">{{name}}</option>
                  {{/each}}
                </select>
              </li>
              <li>
                <label for="title">Title: </label>
                <input name="title" id="title" type="text" value="{{title}}" />
              </li>
              <li>
                <label for="description">Description: </label>
                <textarea
                  name="description"
                  id="title"
                  type="text"
                >{{description}}</textarea>
              </li><br />
              <li>
                <div>
                  <button type="submit" class="modal-button">Save</button>
                  <button
                    type="button"
                    class="modal-button"
                    data-bs-dismiss="modal"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteTaskModal{{_id}}"
                  >Delete</button>
                  <label
                    data-bs-dismiss="modal"
                    class="toggleLabel modal-button"
                    for="task-checkBtn"
                  >
                    Close
                  </label>
                </div>
              </li>
            </ul>
          </form>
        </div>
        <div id="task-visible-toggle" class="visible-content">
          <div>
            <h3>{{project.title}} > {{title}}</h3><hr />
            <p>Created by: {{user.lastName}}, {{user.firstName}}</p>
            <p class="{{state.color}}">Status: {{state.name}}</p>
            <p>Created: {{createdAt}}</p>
            <p>Updated: {{updatedAt}}</p>
            <p>Total time remaining: {{totalTimeRemaining}}</p>
            <p>Total estimated time: {{totalEstimatedTime}}</p>
            <p>Percent complete: {{percentComplete}}%</p>
            <p>Description: {{description}}</p>
          </div><br /><br />
          <div class="buttons-container">
            <label
              class="toggleLabel modal-button"
              for="task-checkBtn"
            >Edit</label>
            <button
              type="button"
              class="modal-button"
              data-bs-dismiss="modal"
            >Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>