<!-- Modal -->
<div
  class="modal fade"
  id="taskDetailsModal"
  tabindex="-1"
  aria-labelledby="taskModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <input type="checkbox" id="task-checkBtn" />
        <div id="task-invisible-toggle">
          <form action="/tasks/edit/{{_id}}" method="post">
            <h4>Edit Task:</h4>
            <label for="title">Title: </label>
            <input name="title" id="title" type="text" value="{{title}}" />
            <p>Total time remaining: {{totalTimeRemaining}}</p>
            <p>Total estimated time: {{totalEstimatedTime}}</p>
            <p>Percent complete: {{percentComplete}}%</p>
            <label for="state">Status: </label>
            <select name="state" id="state">
              <option
                selected="selected"
                value="{{state._id}}"
              >{{state.name}}</option>
              {{#each otherStates}}
                <option value="{{_id}}">{{name}}</option>
              {{/each}}
            </select>
            <label for="description">Description: </label>
            <textarea
              name="description"
              id="title"
              type="text"
            >{{description}}</textarea>
            <button type="submit" class="modal-button">Save</button>
            <button
              type="button"
              class="modal-button"
              data-bs-dismiss="modal"
              data-bs-toggle="modal"
              data-bs-target="#deleteTaskModal{{_id}}"
            >Delete</button>
            <label
              data-bs-dismiss="modal"
              class="toggleLabel modal-button"
              for="task-checkBtn"
            >
              Close
            </label>
          </form>
        </div>
        <div id="task-visible-toggle">
          <div>
            <h3>Title: {{title}}</h3>
            <p>Parent project: {{project.title}}</p>
            <p>Created by: {{user.lastName}}, {{user.firstName}}</p>
            <p class="{{state.color}}">Status: {{state.name}}</p>
            <p>Total time remaining: {{totalTimeRemaining}}</p>
            <p>Total estimated time: {{totalEstimatedTime}}</p>
            <p>Percent complete: {{percentComplete}}%</p>
            <p>Description: {{description}}</p>
          </div>
          <label
            class="toggleLabel modal-button"
            for="task-checkBtn"
          >Edit</label>
          <button
            type="button"
            class="modal-button"
            data-bs-dismiss="modal"
          >Close</button>
        </div>
      </div>
    </div>
  </div>
</div>