<tr data-bs-toggle="modal" data-bs-target="#taskModal{{_id}}">
  <td><a href="/subtasks/all-subtasks/{{_id}}">{{title}}</a></td>
  <td><a href="/subtasks/all-subtasks/{{_id}}">{{totalEstimatedTime}}</a></td>
  <td><a href="/subtasks/all-subtasks/{{_id}}">{{percentComplete}}%</a></td>
  <td><a href="/subtasks/all-subtasks/{{_id}}">{{totalTimeRemaining}}</a></td>
  <td class="{{state.color}}"><a href="/subtasks/all-subtasks/{{_id}}">{{state.name}}</a></td>
  <td><a href="/subtasks/all-subtasks/{{_id}}">{{user.lastName}}, {{user.firstName}}</a></td>
  <td><a href="/subtasks/all-subtasks/{{_id}}">{{updatedAt}}</a></td>
</tr>

{{>subtaskModalPartial this}}