<div id="display-profile">
  <div>
    <img src="{{profilePicture}}" alt="profile picture" class="profilePic" />
    <p class="blue">{{firstName}} {{lastName}}</p>
    <p>username: {{username}}</p>
    <p>email: {{email}}</p>
  </div>
  <br /><br />
  <div>
    <h5 class="blue">Work Hours Information</h5><br />
    <p>Total Work Hours Assigned: {{totalEstimatedTime}}</p>
    <p>Total Work Hours Finished: {{totalTimeCompleted}}</p>
    <p>Total Work Hours Remaining: {{totalTimeRemaining}}</p>
    <p>Percent Complete: {{percentComplete}}%</p>
  </div>
  <br /><br />
  <span>
    <a href="/users/edit" class="toggleLabel">Edit Information</a>
  </span>
</div>