<div class="table-headings">
  <h5 id="project-header" >
    <a href="/tasks/all-tasks/{{task.project._id}}">{{task.project.title}} > </a>
    <a data-bs-toggle="modal" data-bs-target="#taskDetailsModal">
      {{task.title}}
    </a>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
      <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
    </svg>
  </h5>
  <p class="{{task.state.color}}">Status: {{task.state.name}}</p>
  <div class="above-table-container">

  
    <div>
      <button data-bs-toggle="modal" data-bs-target="#createSubtaskModal">New Subtask</button>
    </div>
    <div >
      <form class="filter-container" action="/subtasks/all-subtasks/{{task._id}}" method="get">
      <div>
        <label for="sort-subtasks">Sort: </label>
        <select name="sortParam" id="sort-subtasks">
          <option value="" selected hidden></option>
          <option value="statusAscending">Status Ascending</option>
          <option value="statusDescending">Status Descending</option>
          <option value="percentAscending">Percent Ascending</option>
          <option value="percentDescending">Percent Descending</option>
          <option value="dateUpdated">Date Updated</option>
          <option value="timeRemaining">Time Remaining</option>
          <option value="estimatedTime">Estimated Time</option>
        </select>
      </div>
      <div>
        <label for="filter-subtasks">Filter: </label>
        <select name="filterParam" id="filter-subtasks">
          <option value="" selected hidden></option>
          <option value="new">New</option>
          <option value="ongoing">Ongoing</option>
          <option value="complete">Complete</option>
        </select>
      </div>
      <div>
        <button class="small-blue-button" type="submit">Apply</button>
      </div>
      </form>
    </div>
  </div>
</div>
{{!-- <form action="/subtasks/all-subtasks/{{task._id}}" method="get"></form>
<select onchange="this.form.submit()" name="sortParam" id="sort-subtasks">

</select>
</form> --}}


{{#if subtasks}}
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Estimated Time</th>
      <th>Percent Complete</th>
      <th>Time Remaining</th>
      <th>Type</th>
      <th>Status</th>
      <th>User</th>
      <th>Updated at</th>
    </tr>
  </thead>
  <tbody>
    {{#each subtasks}}
    {{!-- <tr data-bs-toggle="modal" data-bs-target="#exampleModal"> --}}
      {{>subtaskRowPartial}}
      {{>subtaskModalPartial}}
      {{>subtaskEditModalPartial}}
      {{>deleteSubtaskModal}}
    {{!-- </tr> --}}
    {{/each}}
  </tbody>
</table>
{{else}}
<h6>No subtasks added yet! Please add a new subtask</h6>
{{/if}}

{{!-- <a href="/subtasks/edit">testing</a>
{{test}} --}}

{{>createSubtaskModalPartial task}}
{{>taskModalPartial task}}
{{>deleteTaskModal task}}